<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/be001bca-42e1-4f91-aa48-d43b7eb59482/resourcegroups/DefaultResourceGroup-SEAU/providers/Microsoft.Web/sites/WebApplicationPT3C20240904175118</ResourceId>
    <ResourceGroup>DefaultResourceGroup-SEAU</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapplicationpt3c20240904175118.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f7deebf4-ae5b-4f46-94c6-4b404c49645c</ProjectGuid>
    <PublishUrl>https://webapplicationpt3c20240904175118.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebApplicationPT3C20240904175118</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>